body {
    font-family: 'Shadows Into Light', cursive;
    font-size: 115%;
}
small {
    font-size: 80%;
}
.col-sm-4:hover, .col-sm-6:hover{
    transform: scale(105%);
}
.col-sm-12:hover {
    transform: scale(102%);
}
#imgSource {
    width: auto;
    height: 27rem;
}
#imgSourceCompany {
    width: 25rem;
    height: auto;
}
#imgSourceperson {
    width: 23rem;
    height: auto;
}
#imgHome {
    width: 25rem;
    height: auto;
}
.col-sm-4, .mb-3 {
    box-shadow: 5px 10px 18px #888888;
}
.h1 {
    margin-top: 5rem;
}
.card-body {
    background-color: #eceaea;
}
